.card-detail-content {
  padding: 10rem;
  display: flex;
  justify-content: center;
  min-height: 60vh;
  span{
    color: rgb(156, 102, 0);
  }
  .error-p{
    font-size: 1.5rem;
  }
}
.card-detail {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  max-height: 50rem;
  padding: 1rem;
  align-items: center;
  background-color: rgb(250, 235, 215);
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgba(165, 165, 165, 0.4);
}
.card-detail--image {
  img {
    width: 30rem;
    height: 20rem;
    border-radius: 8px;
  }
}
.card-detail--text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  h3{
    color: #00b600;
  }
  
}
.add{
  width: 100%;
  font-family:'Roboto', sans-serif;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  background-color: #5cfe6f;
  border-color:#5cfe6f ;
  cursor: pointer;
}
